header{
    background-color: #d9d9d9;
}

.line{
    background-color: #745F5F;
    border-style: solid;
    width: 100%;
    height: 20px;
}

.search{
    display: inline;
}

.heart-icon{
    max-width: 30px;
    float: right;
}

.shopping-cart{
    max-width: 70px;
    float: right;
}

.header-png{
    object-fit: fill;
    max-height: 50%;
    max-width: 100%;
}

.cta{
    float: right;
}

.cta-home{
    color: black;
    font-size: 30px;
    text-decoration: dashed;
    background-color: #637378;
    border-radius: 50%;
}

.cta-products{
    color: black;
    font-size: 30px;
    text-decoration: dashed;
    background-color: #637378;
    border-radius: 50%;
}

.cta-bottom{
    color: black;
    font-size: 30px;
    text-decoration: dashed;
    background-color: #637378;
    border-radius: 50%;
}

.Follow-us{
    
}

.instagram{
    max-width: 50px;
    float: right;
}

.twitter{
    max-width: 50px;
    float: right;
}

.facebook{
    max-width: 50px;
    float: right;
}

header ul li{
    display: inline-block;
}

body{
    background-color: #d9d9d9;
}

main section ul li{
    display: inline-block;
}

footer{
    text-align: center;
}

.logo-aboutus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    max-height: 500px;
}

.about-text{
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin-left: 11%;
}

.about-headline{
    color: black;
    font-size: 40px;
    margin-left: 21%;
}

.jackets-body {
    background-color: #637378;
}

.thanku{
    color: black;
    font-size: 30px;
    background-color: #fff;
    text-decoration: dashed;
    border-radius: 20%;
    border-style: solid;
    border-bottom: 50px;
}

.shopping{
    color: black;
    font-size: 30px;
    background-color: #a1a1a1;
    text-decoration: dashed;
    border-radius: 20%;
    border-style: solid;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px; 
    max-height: 200px;
}

.Jacket1-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket1-text{
    color: black;
    text-decoration: none;
}

.Jacket2-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket2-text{
    color: black;
    text-decoration: none;
}

.Jacket3-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket3-text{
    color: black;
    text-decoration: none;
}

.Jacket4-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket4-text{
    color: black;
    text-decoration: none;
}

.Jacket5-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket5-text{
    color: black;
    text-decoration: none;
}

.Jacket6-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket6-text{
    color: black;
    text-decoration: none;
}

.Jacket7-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.Jacket7-text{
    color: black;
    text-decoration: none;
}

.jacketpage{
    max-width: 200px;
}

.Addtocart{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    font-size: xx-large;
}

.h2productdetails{
    padding-top: 5rem;
    padding-right: 10rem;
    padding-left: 5rem;
}

.productdetails{
    padding-left: 5rem;
    border-style: solid;
    font-size: large;
}

.cta-submit{
    color: black;
    background: #A6A3A3;
    display: inline;
    font-size: larger;
    border-radius: 50%;
}

input [type="text"] {
    width: max-content;
}

.h2-checkout{
    color: black;
    margin-left: 50%;
}

.summary{
    border-style: solid;
    width: fit-content;
    margin-left: 10%;
    float: left;
}

.h3-summary{
    margin-left: 15%;
}

.cta-placeorder{
    color: black;
    background-color: #fff;
    text-decoration: dashed;    
    font-size: 30px;
    border-style: solid;
    border-radius: 40%;
    margin-left: 10%;
}

.fillin{
    margin-left: 40%;
    font-size: larger;
}

.jacket{
    padding: 10px;
    margin: 10px;
}

.containerone{
    display: flex;
    flex-direction:  row;
}

.containertwo{
    display: flex;
    flex-direction:  row;
}

.containerthree{
    display: flex;
    flex-direction:  row;
}

.size{
    float: right;
    font-size: x-large;
}

.quantity{
    float: right;
    font-size: x-large;
}

.color{
    float: right;
    font-size: x-large;
}

.jacket-option{
    display: grid;
    grid-gap: 2rem;
    float: right;
    font-size: x-large;
}

.end-line{
    margin-top: 10rem;
}

.cart-middle{
    border: solid;
}

.cart-text{
    margin-left: 15%; 
}

.cta-checkout{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    font-size: 40px;
    border-style: groove;
    border-color: black;
}

.cart-right{
    font-size: larger;
    margin-left: 80%;
}

.cart-jacket1-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
    margin-left: 1%;
}