/*-----header and footer-----*/
header{
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-png{
    width: 100%;
}

.logo-container{
    flex: 1 0 800px;
    text-align: center;
}

.logo-footer{
    flex: 0 1 800px;
    text-align:
    margin: ;
}

.nav-container{
    display: flex;
    gap: 50px;
}

.cta-nav{
    color: black;
    font-size: 25px;
    text-decoration: dashed;
    background-color: #637378;
    border-radius: 50%;
    padding: 10px;
}

.cart-container{
    gap: 50px;
}

.social-media{
    gap: 10px;
    float: right;
    margin-right: 50px;
}

.search, .nav-container, .cart-container{
    align-self: center;
}

.nav-container-footer, .logo-footer, .social-media{
    align-self: center;
}

.line{
    background-color: #745F5F;
    border-style: solid;
    width: 100%;
    height: 20px;
}

.rainydayslogo-index{
    width: 100%;
    max-width: 300px;
}

.cta-index{
    color: black;
    font-size: 35px;
    text-decoration: dashed;
    background-color: #A7AD9C;
    border-radius: 50%;
    padding: 10px;
}

.heart-icon{
    max-width: 50px;
    position: relative;
    bottom: 25px;
    left: 20px;
}

.shopping-cart{
    max-width: 90px;
}

.facebook, .twitter, .instagram{
    max-width: 50px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px; 
    max-height: 200px;
}

.logo-{
    max-width: 300px; 
    max-height: 200px;
}

.copyright{
    text-align: center;
}

/*-----body-----*/
body{
    background-color: #d9d9d9;
}

/*-----body products-----*/
.nav-jacket{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
}

.product{

}

.Jacket-png{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.jacket-text{
    font-family: "Indie Flower";
}

.jacketpage{
    max-width: 200px;
}

/*-----body jackets-----*/
.jackets-body {
    background-color: #637378;
}

.Addtocart{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    font-size: xx-large;   
    padding: 10px;
}

.div-addtocart{
    text-align: center;
}

.div-jacket-text{
    display: flex;
    flex-direction: row;
}

.jackets-text{
    font-size: larger;
    text-align: center;
    font-family: "Indie Flower";
}

.jackets-price{
    font-size: larger;
    text-align: center;
    font-family: "Indie Flower";
}

.h2productdetails{
    padding-top: 5rem;
    padding-right: 10rem;
    padding-left: 5rem;
    margin-left: 20px;
}

.productdetails{
    padding-left: 5rem;
    border-style: solid;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;   
    font-family: "Indie Flower";
}

.jacket-option{
    display: grid;
    grid-gap: 2rem;
    float: right;
    font-size: x-large;
}

.Jacket1-png-jackets{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
    margin-top: px;
    margin-left: 50px;
}

.size, .color, .quantity{
    float: right;
    font-size: x-large;
    margin-right: 100px;
}

/*-----body contact-----*/
.div-submit{
    display: flex;
    gap: 5em;
}

.cta-submit{
    color: black;
    background: #A6A3A3;
    font-size: xx-large;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 50px;
    padding: 10px;
    position: relative;
    top: 190px;
}

.fillin-contact{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    height: 25px;
    width: 250px;
}

.contact-left{
    display: flex;
    gap: 10em;
}

.contact-right{
    display: flex;
    gap: 10em;
}

.message{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    height: 200px;
    width: 500px;
}

/*-----body checkout-----*/
.div-checkout{
    display: flex;
    gap: 50px;
}

.h2-checkout{
    color: black;
    margin-left: 50%;
}

.summary{
    border-style: solid;
    width: fit-content;
    margin-left: 10%;
}

.fillin, .fillin-right{
    display: flex;
    flex-direction: column;
    font-size: larger;   
    gap: 20px;
}

.div-placeorder{
    text-align: center;
}

.cta-placeorder{
    color: black;
    background-color: #fff;
    text-decoration: dashed; 
    padding: 10px; 
    font-size: 30px;
    border-style: solid;
    border-radius: 20px;
    width: 800px;
    height: 40px;
}

/*-----body checkout complete-----*/
.thanku{
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    text-decoration: dashed;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    height: 90px;
    padding: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.shopping{
    color: black;
    font-size: 30px;
    background-color: #a1a1a1;
    text-decoration: dashed;
    border-radius: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    margin-left: 40%;
    padding: 20px;
}

/*------body cart------*/
.cart-middle{
    display: flex;
    border: solid;
    gap: 200px;
    font-family: "Indie Flower";
}

.cart-text{
    font-size: large;
}

.cta-checkout{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    font-size: 40px;
    border-style: groove;
    border-color: black;
}

.cart-right{
    font-size: x-large;
    position: relative;
}

.cart-jacket1-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

/*-----body about us-----*/
.logo-aboutus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    max-height: 500px;
}

.about-text{
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin-left: 11%;
}

.about-headline{
    color: black;
    font-size: 40px;
    margin-left: 21%;
}

input [type="text"] {
    width: max-content;
}

.h3-summary{
    margin-left: 15%;
}

.fillin-input{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
    height: 22px;
}
