/*-----header and footer-----*/
header{
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.end-line{
    margin-top: 10rem;
}

.header-png{
    width: 100%;
}

.logo-container{
    flex: 1 0 800px;
    text-align: center;
}

.nav-container{
    display: flex;
    gap: 50px;
}

.cta-nav{
    color: black;
    font-size: 25px;
    text-decoration: dashed;
    background-color: #637378;
    border-radius: 50%;
    padding: 10px;
}

.cart-container{
    gap: 50px;
}

.social-media{
    gap: 10px;
}

.follow-us{

}

.logo{
    width: 150px;
}

.search, .nav-container, .cart-container{
    align-self: center;
}

.nav-container, .logo-container, .social-media{
    align-items: center;
}

.line{
    background-color: #745F5F;
    border-style: solid;
    width: 100%;
    height: 20px;
}

.rainydayslogo-index{
    width: 100%;
    max-width: 300px;
}

.logo-index{

}

.cta-index{
    color: black;
    font-size: 35px;
    text-decoration: dashed;
    background-color: #A7AD9C;
    border-radius: 50%;
    padding: 10px;
}

.logo-nav{
    display: flex;
}

.heart-icon{
    max-width: 50px;
    position: relative;
    bottom: 25px;
    left: 20px;
}

.shopping-cart{
    max-width: 90px;
}

.social-media{
    display: flex;
    float: right;
}

.facebook, .twitter, .instagram{
    max-width: 50px;
}

footer{
    text-align: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px; 
    max-height: 200px;
}

/*-----body-----*/
body{
    background-color: #d9d9d9;
}

/*-----body products-----*/
.nav-jacket{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.product{

}

.Jacket-png{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.jacket-text{
    font-family: "Indie Flower";
}

.jacketpage{
    max-width: 200px;
}

/*-----body jackets-----*/
.jackets-body {
    background-color: #637378;
}

.Addtocart{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    font-size: xx-large;   
    text-align: center;
    padding: 10px;
}

.cta-addtocart{
    
}

.jackets-text{
    font-size: large;
    text-align: center;
}

.h2productdetails{
    padding-top: 5rem;
    padding-right: 10rem;
    padding-left: 5rem;
}

.productdetails{
    padding-left: 5rem;
    border-style: solid;
    font-size: large;   
    font-family: "Indie Flower";
}

.jacket-option{
    display: grid;
    grid-gap: 2rem;
    float: right;
    font-size: x-large;
}

.Jacket1-png-jackets{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

.size{
    float: right;
    font-size: x-large;
}

.quantity{
    float: right;
    font-size: x-large;
}

.color{
    float: right;
    font-size: x-large;
}

/*-----body contact-----*/
.cta-submit{
    color: black;
    background: #A6A3A3;
    display: inline;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    left: 600px;
    top: 940px;
    border-radius: 50%;
    width: 200px;
    height: 50px;
}

.fillin-contact{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    height: 25px;
    width: 250px;
}

.fillin-lastname{
    position: absolute;
    top: 580px;
    left: 600px;
}

.fillin-phone{
    position: absolute;
    left: 600px;
    top: 680px
}

.message{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    height: 200px;
    width: 500px;
}

/*-----body checkout-----*/
.h2-checkout{
    color: black;
    margin-left: 50%;
}

.summary{
    border-style: solid;
    width: fit-content;
    margin-left: 10%;
}

.fillin{
    font-size: larger;   
}

.cta-placeorder{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    text-align: center;  
    padding: 10px; 
    font-size: 30px;
    border-style: solid;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

/*-----body checkout complete-----*/
.thanku{
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    text-decoration: dashed;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
    height: 90px;
}

.shopping{
    color: black;
    font-size: 30px;
    background-color: #a1a1a1;
    text-decoration: dashed;
    border-radius: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    margin-left: 40%;
}

/*------body cart------*/
.cart-middle{
    border: solid;
    display: flex;
}

.cart-text{
    font-size: large;
}

.cta-checkout{
    color: black;
    background-color: #fff;
    text-decoration: dashed;
    font-size: 40px;
    border-style: groove;
    border-color: black;
}

.cart-right{
    font-size: x-large;
    float: right;
}

.cart-jacket1-png{
    max-width: 200px;
    background-color: #fff;
    border-style: solid;
    border-color: black;
}

/*-----body about us-----*/
.logo-aboutus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    max-height: 500px;
}

.about-text{
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin-left: 11%;
}

.about-headline{
    color: black;
    font-size: 40px;
    margin-left: 21%;
}

input [type="text"] {
    width: max-content;
}

.h3-summary{
    margin-left: 15%;
}

.fillin-input{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
    height: 22px;
}